@charset "UTF-8";
body {
  font-family: "Zen Maru Gothic", sans-serif;
  background-color: #fdfcf8;
  color: #563434;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #563434;
}

img {
  max-width: 100%;
}

.wrapper {
  margin: 60px auto;
  width: 80%;
  text-align: center;
}
.wrapper .title {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s;
}
.wrapper .sub-title {
  padding-top: 30px;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 18px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.5s;
}

/*header*/
header {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  max-width: 300px;
}
header h1 img {
  max-width: 100%;
  background-size: cover;
}
header nav {
  display: flex;
  align-items: center;
}
header nav .logo {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}
header nav .logo .icon {
  padding-right: 15px;
  text-align: center;
  width: 120px;
}
header nav .logo .icon img {
  align-items: center;
  max-width: 100px;
  transition: all 1s ease;
}
header nav .logo .icon img:hover {
  transform: rotateY(360deg);
}
header nav .btn {
  display: flex;
}
header nav .btn .recruit {
  display: block;
  font-size: 18px;
  background-color: #FCE703;
  border-radius: 10px;
  padding: 20px 40px;
  text-align: center;
  margin-right: 20px;
  transition: all 0.1s;
}
header nav .btn .recruit:hover {
  background-color: #fff;
  border: 2px solid #FCE703;
}
header nav .btn .contact {
  display: block;
  font-size: 18px;
  background-color: #C4E3A9;
  border-radius: 10px;
  padding: 20px 30px;
  text-align: center;
  transition: all 0.1s;
}
header nav .btn .contact:hover {
  background-color: #fff;
  border: 2px solid #C4E3A9;
}
header .menu-btn {
  margin-top: 10px;
  color: #121212;
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 30;
}
header .menu-btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
}
header .menu-btn span:nth-child(1) {
  top: 22%;
}
header .menu-btn span:nth-child(2) {
  top: 50%;
}
header .menu-btn span:nth-child(3) {
  top: 78%;
}
header #mask {
  background-color: #fdfcf8;
  display: none;
  transition: all 0.5s;
}

.open h1 {
  max-width: 150px;
  z-index: 20;
  position: absolute;
  top: 30px;
  left: 42%;
}
.open h1 img {
  max-width: 100%;
  background-size: cover;
}
.open nav {
  width: 60%;
  height: 70%;
  z-index: 20;
  display: block;
  position: absolute;
  top: 20%;
  left: 20%;
}
.open nav .logo {
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
  align-items: center;
}
.open nav .logo .icon {
  width: 50%;
  margin-bottom: 20px;
}
.open nav .logo .icon img {
  width: 300px;
}
.open nav .btn {
  width: 100%;
  display: block;
}
.open nav .btn .recruit {
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 20px;
}
.open nav .btn .contact {
  width: 100%;
  padding: 20px;
}
.open .menu-btn {
  transition: all 3s;
  z-index: 20;
  position: fixed;
  right: 2%;
  top: 7%;
}
.open .menu-btn span {
  background-color: #563434;
}
.open .menu-btn span:nth-child(1) {
  top: 50%;
  transform: rotate(-315deg);
}
.open .menu-btn span:nth-child(2) {
  display: none;
}
.open .menu-btn span:nth-child(3) {
  top: 50%;
  transform: rotate(315deg);
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/*mainvisual*/
.mainvisual {
  position: relative;
  width: 100%;
  height: 800px;
  margin-bottom: 100px;
}
.mainvisual .mainvisual-img li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: animation 15s infinite;
  opacity: 0;
}
.mainvisual .mainvisual-img li:nth-child(1) {
  animation-delay: 0s;
}
.mainvisual .mainvisual-img li:nth-child(2) {
  animation-delay: 5s;
}
.mainvisual .mainvisual-img li:nth-child(3) {
  animation-delay: 10s;
}
.mainvisual .mainvisual-img li img {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}
@keyframes animation {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.mainvisual .main-text {
  position: absolute;
  top: 70px;
  left: 50px;
  writing-mode: vertical-rl;
}
.mainvisual .main-text span {
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  display: flex;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
}
.mainvisual .main-text span:first-child {
  background-color: #C4E3A9;
}
.mainvisual .main-text span:nth-child(2) {
  background-color: #FCE703;
  margin-top: 20px;
}
.mainvisual .main-text span:last-child {
  background-color: #FEAE91;
  margin-top: 50px;
}

/*concept*/
.concept {
  padding: 100px 0;
}
.concept .container {
  text-align: center;
  padding: 0 15%;
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s;
}
.concept .container img {
  max-width: 250px;
  position: absolute;
  top: -90px;
  left: 70px;
  z-index: -10;
}
.concept .container h1 {
  font-size: 42px;
}
.concept .container .inner {
  display: flex;
  justify-content: space-between;
  margin: 40px 80px;
}
.concept .container .inner .message {
  text-align: left;
  width: 75%;
}
.concept .container .inner .message p {
  font-size: 20px;
  margin-bottom: 15px;
}
.concept .container .inner .btn {
  width: 20%;
}
.concept .container .inner .btn .yellow {
  display: block;
  font-size: 14px;
  background-color: #FCE703;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 20px;
  transition: all 0.1s;
}
.concept .container .inner .btn .yellow:hover {
  background-color: #fff;
  border: 2px solid #FCE703;
}
.concept .container .inner .btn .green {
  display: block;
  font-size: 14px;
  background-color: #C4E3A9;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  margin-right: 15px;
  transition: all 0.1s;
}
.concept .container .inner .btn .green:hover {
  background-color: #fff;
  border: 2px solid #C4E3A9;
}

/*reason*/
.reason {
  background-image: url(../img/波フレーム.png);
  background-size: cover;
  padding: 50px 0;
}
.reason .item {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(50px);
  transition: all 2s;
}
.reason .item .list-item {
  border-radius: 5%;
  background-color: #fff;
  padding: 20px;
  width: 32%;
}
.reason .item .list-item .lead {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.reason .item .list-item .lead .number {
  font-size: 28px;
  padding: 5px 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #F8BE0E;
}
.reason .item .list-item .lead span {
  font-size: 18px;
}
.reason .item .list-item .photo {
  width: 100%;
}
.reason .item .list-item .photo img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reason .item .list-item .text {
  text-align: left;
  margin-top: 10px;
  padding: 10px 5px;
  line-height: 1.8;
}

/*schedule*/
.schedule .circle {
  display: flex;
  position: relative;
  width: 100%;
  height: 520px;
}
.schedule .circle li {
  position: absolute;
  width: 20%;
}
.schedule .circle li:first-child {
  top: 0;
  left: 0;
  animation: zoomin 1s linear 0s normal both;
  opacity: 0;
}
@keyframes zoomin {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.schedule .circle li:nth-child(2) {
  top: 200px;
  left: 300px;
  animation: zoomin500ms 1s linear 0.5s normal both;
  opacity: 0;
}
@keyframes zoomin500ms {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.schedule .circle li:nth-child(3) {
  top: 0;
  left: 600px;
  animation: zoomin1s 1s linear 1s normal both;
  opacity: 0;
}
@keyframes zoomin1s {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.schedule .circle li:nth-child(4) {
  top: 190px;
  right: 300px;
  animation: zoomin1500ms 1s linear 1.5s normal both;
  opacity: 0;
}
@keyframes zoomin1500ms {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.schedule .circle li:last-child {
  top: 0;
  right: 0;
  animation: zoomin2s 1s linear 2s normal both;
  opacity: 0;
}
@keyframes zoomin2s {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.schedule .circle li .time {
  font-weight: bold;
  font-family: "Hiragino Maru Gothic Pro";
}
.schedule .circle li .time p {
  color: #FFC64C;
  font-size: 18px;
}

/*contents*/
.contents {
  background-image: url(../img/波フレーム2.png);
  /*background-repeat: repeat-x;*/
  background-size: cover;
  padding: 60px 0;
}
.contents .title {
  margin-bottom: 80px;
}
.contents .content-img {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(50px);
  transition: all 2s;
}
.contents .content-img li {
  width: 30%;
  display: flex;
  position: relative;
}
.contents .content-img li p {
  position: absolute;
  top: -1px;
  left: -0.5px;
  writing-mode: vertical-rl;
  padding: 15px 15px;
  background-color: #FFF0C2;
  align-items: center;
  letter-spacing: 2px;
  font-size: 16px;
  border-radius: 0 0 22.5px 0;
}
.contents .content-img li p .yoko {
  writing-mode: horizontal-tb;
  margin-bottom: 3px;
}
.contents .content-img li img {
  border-radius: 10%;
}

.contact-box {
  padding: 60px 0;
}
.contact-box h2 {
  font-size: 36px;
  font-weight: normal;
  padding-bottom: 40px;
}
.contact-box p {
  font-size: 20px;
  padding-bottom: 50px;
}
.contact-box .contact-btn {
  color: #fff;
  background-color: #FFC64C;
  display: inline-block;
  width: 600px;
  height: 100px;
  padding: 20px 40px 10px 40px;
  border-radius: 20px;
}
.contact-box .contact-btn ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-box .contact-btn ul .tel {
  font-family: "Hiragino Maru Gothic Pro";
  font-size: 36px;
  padding: 0;
  align-items: center;
}
.contact-box .contact-btn ul .tel span {
  margin-right: 20px;
}
.contact-box .contact-btn ul .white {
  font-size: 20px;
  background-color: #fff;
  color: #563434;
  margin-left: 10px;
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
}
.contact-box .contact-btn ul .white img {
  width: 30px;
}

/*footer*/
footer {
  background-color: #e5f0d9;
  align-items: center;
  padding: 50px 0;
}
footer .footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-logo h1 {
  width: 200px;
}
footer .footer-logo p {
  font-size: 20px;
  margin-left: 40px;
}
footer nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
footer nav .logo {
  display: flex;
  align-items: flex-end;
}
footer nav .logo .icon {
  padding-right: 15px;
  text-align: center;
}
footer nav .logo .icon img {
  align-items: center;
  max-width: 50px;
}
footer nav .logo .icon p {
  align-items: flex-end;
}
footer nav .btn {
  display: flex;
}
footer nav .btn .recruit {
  display: block;
  font-size: 14px;
  background-color: #FCE703;
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  margin-right: 10px;
}
footer nav .btn .contact {
  display: block;
  font-size: 14px;
  background-color: #C4E3A9;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

/*responsive*/
@media (max-width: 1800px) {
  .schedule .circle {
    height: 500px;
  }
  .schedule .circle li:first-child {
    top: 0;
    left: 0;
  }
  .schedule .circle li:nth-child(2) {
    top: 200px;
    left: 280px;
  }
  .schedule .circle li:nth-child(3) {
    top: 0;
    left: 560px;
  }
  .schedule .circle li:nth-child(4) {
    top: 190px;
    right: 290px;
  }
  .schedule .circle li:last-child {
    top: 0;
    right: 0;
  }
}
@media (max-width: 1700px) {
  .schedule .circle li:nth-child(3) {
    top: 0;
    left: 550px;
  }
  .schedule .circle li:nth-child(4) {
    top: 190px;
    right: 260px;
  }
}
@media (max-width: 1600px) {
  .schedule .circle {
    height: 480px;
  }
  .schedule .circle li:first-child {
    top: 0;
    left: 0;
  }
  .schedule .circle li:nth-child(2) {
    top: 200px;
    left: 260px;
  }
  .schedule .circle li:nth-child(3) {
    top: 0;
    left: 510px;
  }
  .schedule .circle li:nth-child(4) {
    top: 190px;
    right: 250px;
  }
  .schedule .circle li:last-child {
    top: 0;
    right: 0;
  }
}
@media (max-width: 1500px) {
  header h1 {
    max-width: 250px;
  }
  header nav .logo .icon {
    padding: 0;
    width: 100px;
  }
  header nav .logo .icon img {
    align-items: center;
    max-width: 50px;
  }
  header nav .btn {
    display: flex;
  }
  header nav .btn .recruit {
    display: block;
    font-size: 16px;
    background-color: #FCE703;
    border-radius: 10px;
    padding: 15px 20px;
    text-align: center;
    margin-right: 20px;
  }
  header nav .btn .contact {
    display: block;
    font-size: 16px;
    background-color: #C4E3A9;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
  }
  .schedule .circle {
    height: 440px;
  }
  .schedule .circle li:nth-child(2) {
    top: 200px;
    left: 240px;
  }
  .schedule .circle li:nth-child(3) {
    top: 0;
    left: 480px;
  }
  .schedule .circle li:nth-child(4) {
    top: 190px;
    right: 240px;
  }
}
@media (max-width: 1400px) {
  .schedule .circle {
    height: 420px;
  }
  .schedule .circle li:nth-child(2) {
    top: 180px;
    left: 220px;
  }
  .schedule .circle li:nth-child(3) {
    top: 0;
    left: 440px;
  }
  .schedule .circle li:nth-child(4) {
    top: 170px;
    right: 220px;
  }
  .contents {
    padding: 40px;
  }
}
@media (max-width: 1300px) {
  .schedule .circle {
    height: 320px;
  }
  .schedule .circle li:nth-child(2) {
    top: 160px;
    left: 210px;
  }
  .schedule .circle li:nth-child(3) {
    top: 0;
    left: 410px;
  }
  .schedule .circle li:nth-child(4) {
    top: 140px;
    right: 210px;
  }
  .schedule .circle li .time p {
    font-size: 14px;
  }
  .schedule .circle li .time span {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  header {
    margin: 20px;
  }
  header h1 {
    max-width: 200px;
  }
  header nav .logo .icon {
    width: 90px;
  }
  header nav .logo .icon img {
    max-width: 40px;
  }
  header nav .logo .icon p {
    font-size: 14px;
  }
  header nav .btn {
    display: flex;
  }
  header nav .btn .recruit {
    display: block;
    font-size: 14px;
    background-color: #FCE703;
    border-radius: 10px;
    padding: 15px 20px;
    text-align: center;
    margin-right: 20px;
  }
  header nav .btn .contact {
    display: block;
    font-size: 14px;
    background-color: #C4E3A9;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
  }
  /*concept*/
  .concept .container img {
    max-width: 230px;
    position: absolute;
    top: -90px;
    left: 70px;
    z-index: -10;
  }
  .concept .container h1 {
    font-size: 38px;
  }
  .concept .container .inner {
    display: flex;
    justify-content: space-between;
    margin: 40px 60px;
  }
  .concept .container .inner .message p {
    font-size: 18px;
    margin-bottom: 15px;
  }
  /*schedule*/
  .schedule .circle {
    height: 320px;
  }
  .schedule .circle li {
    width: 22%;
  }
  .schedule .circle li:nth-child(2) {
    top: 120px;
    left: 190px;
  }
  .schedule .circle li:nth-child(3) {
    top: 0;
    left: 370px;
  }
  .schedule .circle li:nth-child(4) {
    top: 110px;
    right: 180px;
  }
}
@media (max-width: 1100px) {
  /*concept*/
  .concept .container h1 {
    font-size: 34px;
  }
  .concept .container .inner {
    margin: 40px auto;
  }
  .concept .container .inner .message p {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .schedule .circle {
    height: 320px;
  }
  .schedule .circle li:nth-child(2) {
    top: 120px;
    left: 180px;
  }
  .schedule .circle li:nth-child(3) {
    top: 0;
    left: 350px;
  }
  .schedule .circle li:nth-child(4) {
    top: 110px;
    right: 160px;
  }
}
@media (max-width: 1000px) {
  header .menu-btn {
    display: block;
  }
  header nav {
    display: none;
  }
  /*schedule*/
  .schedule .circle {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    height: 900px;
    margin: 0 auto;
  }
  .schedule .circle li {
    width: 45%;
    position: static;
  }
  .schedule .circle li:nth-child(2) {
    margin-top: 90px;
  }
  .schedule .circle li:nth-child(3) {
    margin-top: -40px;
  }
  .schedule .circle li:nth-child(4) {
    margin-top: 50px;
  }
  .schedule .circle li:last-child {
    margin-top: -40px;
  }
  .schedule .circle li .time p {
    font-size: 18px;
  }
  .schedule .circle li .time span {
    font-size: 18px;
  }
  /*contents*/
  .contents {
    background-image: url(../img/波フレーム2-1.png);
    background-size: cover;
    padding: 60px 0;
  }
  .contents .title {
    margin-bottom: 80px;
  }
  .contents .content-img {
    display: flex;
    justify-content: space-between;
  }
  .contents .content-img li {
    width: 30%;
    display: flex;
    position: relative;
  }
}
@media (max-width: 900px) {
  .wrapper {
    width: 90%;
  }
  /*concept*/
  .concept {
    padding: 50px;
  }
  .concept .container {
    padding: 0 5%;
  }
  .concept .container img {
    max-width: 150px;
    top: -50px;
    left: 50px;
  }
  .concept .container h1 {
    font-size: 32px;
  }
  .concept .container .inner {
    margin: 30px;
    align-items: center;
  }
  .concept .container .inner .message p {
    font-size: 15px;
  }
  .concept .container .inner .btn {
    font-size: 10px;
  }
  /*reason*/
  .reason {
    padding: 50px 0;
  }
  .reason .item {
    display: flex;
    justify-content: space-between;
  }
  .reason .item .list-item {
    border-radius: 5%;
    background-color: #fff;
    padding: 20px;
    width: 32%;
  }
  .reason .item .list-item .lead {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .reason .item .list-item .lead .number {
    font-size: 28px;
    padding: 5px 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #F8BE0E;
  }
  .reason .item .list-item .lead span {
    font-size: 18px;
  }
  .reason .item .list-item .photo {
    width: 100%;
  }
  .reason .item .list-item .photo img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .reason .item .list-item .text {
    text-align: left;
    margin-top: 10px;
    padding: 10px 5px;
    line-height: 1.8;
  }
  /*contents*/
  .contents .content-img li p {
    padding: 10px;
    font-size: 14px;
    border-radius: 0 0 16px 0;
  }
  .contents .content-img li p .yoko {
    writing-mode: horizontal-tb;
    margin-bottom: 3px;
  }
  .contents .content-img li img {
    border-radius: 10%;
  }
}
@media (max-width: 800px) {
  /*concept*/
  .concept .container h1 {
    font-size: 28px;
  }
  .concept .container .inner {
    margin: 30px;
  }
  .concept .container .inner .message p {
    font-size: 14px;
  }
  .concept .container .inner .btn {
    margin-top: -30px;
  }
  .concept .container .inner .btn .yellow {
    font-size: 12px;
    padding: 10px;
    margin-bottom: 5px;
  }
  .concept .container .inner .btn .green {
    font-size: 12px;
    padding: 10px;
  }
}
@media (max-width: 700px) {
  /*concept*/
  .concept {
    padding: 50px;
  }
  .concept .container {
    padding: 0;
  }
  .concept .container img {
    max-width: 150px;
    top: -50px;
    left: 50px;
  }
  .concept .container h1 {
    font-size: 24px;
  }
  /*reason*/
  .reason {
    background-image: url(../img/波フレーム2-1.png);
    background-size: cover;
  }
  .reason .item {
    flex-direction: column;
  }
  .reason .item .list-item {
    margin: 10px auto;
    padding: 20px 30px;
    width: 90%;
  }
  .reason .item .list-item .lead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .reason .item .list-item .lead .number {
    font-size: 28px;
    padding: 5px 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #F8BE0E;
  }
  .reason .item .list-item .lead span {
    font-size: 24px;
  }
  .reason .item .list-item .photo {
    width: 100%;
    height: 250px;
  }
  .reason .item .list-item .photo img {
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /*schedule*/
  .schedule .circle {
    width: 80%;
  }
  /*contents*/
  .contents {
    padding: 40px 0;
    background-image: url(../img/波フレーム2-2.png);
  }
  .contents .title {
    margin-bottom: 40px;
  }
  .contents .content-img {
    flex-direction: column;
  }
  .contents .content-img li {
    width: 90%;
    margin: 20px auto;
  }
  .contents .content-img li p {
    top: 0;
    padding: 25px 15px;
    font-size: 16px;
    border-radius: 0 0 16px 0;
  }
  .contents .content-img li p .yoko {
    writing-mode: horizontal-tb;
    margin-bottom: 3px;
  }
  .contents .content-img li img {
    border-radius: 10%;
  }
  .contact-box {
    padding: 30px 0;
  }
  .contact-box h2 {
    font-size: 28px;
    font-weight: normal;
    padding-bottom: 30px;
  }
  .contact-box p {
    font-size: 16px;
    padding-bottom: 50px;
  }
  .contact-box .contact-btn {
    width: 400px;
    height: 70px;
    padding: 20px 20px 5px 20px;
    border-radius: 20px;
  }
  .contact-box .contact-btn ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact-box .contact-btn ul .tel {
    font-family: "Hiragino Maru Gothic Pro";
    font-size: 22px;
    padding: 0;
    align-items: center;
  }
  .contact-box .contact-btn ul .tel span {
    margin-right: 20px;
  }
  .contact-box .contact-btn ul .white {
    font-size: 16px;
    background-color: #fff;
    color: #563434;
    margin-left: 10px;
    display: flex;
    padding: 5px 20px;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact-box .contact-btn ul .white img {
    width: 14px;
    margin-left: 3px;
  }
  /*footer*/
  footer {
    padding: 10px 0;
  }
  footer .footer-logo h1 {
    width: 150px;
  }
  footer .footer-logo p {
    font-size: 16px;
    margin-left: 40px;
  }
  footer nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  footer nav .logo .icon {
    padding-right: 15px;
    text-align: center;
  }
  footer nav .logo .icon img {
    align-items: center;
    max-width: 30px;
  }
  footer nav .logo .icon p {
    font-size: 10px;
  }
  footer nav .btn {
    display: flex;
  }
  footer nav .btn .recruit {
    display: block;
    font-size: 10px;
    background-color: #FCE703;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
    margin-right: 10px;
  }
  footer nav .btn .contact {
    display: block;
    font-size: 10px;
    background-color: #C4E3A9;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .mainvisual {
    height: 600px;
    margin-bottom: 50px;
  }
  .mainvisual .mainvisual-img li img {
    height: 600px;
  }
  .concept {
    padding-bottom: 0;
  }
  .reason .title img {
    max-width: 90%;
  }
  .reason .item .list-item {
    width: 80%;
  }
  .reason .item .list-item .lead .number {
    font-size: 22px;
    padding: 5px 18px;
    margin-right: 20px;
  }
  .reason .item .list-item .lead span {
    font-size: 20px;
  }
  .reason .item .list-item .photo {
    height: auto;
  }
  .reason .item .list-item .text {
    font-size: 14px;
  }
  .contents .content-img li {
    width: 80%;
  }
}
@media (max-width: 450px) {
  .wrapper .sub-title {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 16px;
  }
  /*header*/
  header h1 {
    max-width: 150px;
  }
  /*concept*/
  .concept {
    padding: 30px;
  }
  .concept .container {
    padding: 0;
  }
  .concept .container img {
    max-width: 120px;
    top: -50px;
    left: 0px;
  }
  .concept .container h1 {
    font-size: 18px;
  }
  .concept .container .inner {
    margin: 30px 0 0 0;
  }
  .concept .container .inner .message p {
    font-size: 12px;
  }
  .concept .container .inner .btn .yellow {
    font-size: 8px;
    padding: 7px;
  }
  .concept .container .inner .btn .green {
    font-size: 8px;
    padding: 7px;
  }
  /*reason*/
  .reason .item .list-item {
    width: 80%;
  }
  .reason .item .list-item .lead .number {
    font-size: 20px;
    padding: 5px 18px;
    margin-right: 20px;
  }
  .reason .item .list-item .lead span {
    font-size: 16px;
  }
  .reason .item .list-item .photo {
    height: auto;
  }
  .reason .item .list-item .text {
    font-size: 14px;
  }
  /*schedule*/
  .schedule .circle {
    width: 90%;
    height: 700px;
    margin: 0 auto;
  }
  .schedule .circle li {
    width: 50%;
    position: static;
  }
  .schedule .circle li:nth-child(2) {
    margin-top: 110px;
  }
  .schedule .circle li:nth-child(3) {
    margin-top: -60px;
  }
  .schedule .circle li:nth-child(4) {
    margin-top: 30px;
  }
  .schedule .circle li:last-child {
    margin-top: -60px;
  }
  .schedule .circle li .time p {
    font-size: 14px;
  }
  .schedule .circle li .time span {
    font-size: 14px;
  }
  /*contents*/
  .contents {
    padding: 40px 0;
    background-image: url(../img/波フレーム2-2.png);
  }
  .contents .title {
    margin-bottom: 40px;
  }
  .contents .content-img {
    flex-direction: column;
  }
  .contents .content-img li {
    width: 90%;
    margin: 20px auto;
  }
  .contents .content-img li p {
    top: 0;
    padding: 25px 15px;
    font-size: 16px;
    border-radius: 0 0 16px 0;
  }
  .contents .content-img li p .yoko {
    writing-mode: horizontal-tb;
    margin-bottom: 3px;
  }
  .contents .content-img li img {
    border-radius: 10%;
  }
  .contact-box h2 {
    font-size: 24px;
  }
  .contact-box p {
    font-size: 16px;
  }
  .contact-box .contact-btn {
    width: 300px;
    height: 80px;
    padding: 5px 20px 10px 20px;
    border-radius: 20px;
  }
  .contact-box .contact-btn ul {
    flex-direction: column;
  }
  .contact-box .contact-btn ul .tel {
    font-size: 22px;
  }
  .contact-box .contact-btn ul .tel span {
    margin-right: 5px;
  }
  .contact-box .contact-btn ul .white {
    font-size: 14px;
    padding: 5px 30px;
  }
  /*footer*/
  footer .footer-logo h1 {
    width: 100px;
  }
  footer .footer-logo p {
    font-size: 14px;
    margin-left: 40px;
  }
  footer .footer-logo p span {
    font-size: 12px;
  }
  footer nav {
    flex-direction: column;
    margin-top: 20px;
  }
  footer nav .logo {
    margin-bottom: 20px;
  }
  footer nav .logo .icon {
    padding-right: 15px;
    text-align: center;
  }
  footer nav .logo .icon img {
    align-items: center;
    max-width: 30px;
  }
  footer nav .logo .icon p {
    font-size: 8px;
  }
  footer nav .btn {
    display: flex;
  }
  footer nav .btn .recruit {
    display: block;
    font-size: 10px;
    background-color: #FCE703;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
    margin-right: 10px;
  }
  footer nav .btn .contact {
    display: block;
    font-size: 10px;
    background-color: #C4E3A9;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  /*maimvisual*/
  .mainvisual {
    height: 550px;
  }
  .mainvisual .mainvisual-img li img {
    height: 550px;
  }
  /*reason*/
  .reason .item .list-item {
    width: 90%;
  }
  .reason .item .list-item .lead .number {
    font-size: 20px;
    padding: 5px 18px;
    margin-right: 20px;
  }
  .reason .item .list-item .lead span {
    font-size: 16px;
  }
  .reason .item .list-item .photo {
    height: auto;
  }
  .reason .item .list-item .text {
    font-size: 14px;
  }
  /*contents*/
  .contents {
    padding: 40px 0;
    background-image: url(../img/波フレーム2-2.png);
  }
  .contents .title {
    margin-bottom: 40px;
  }
  .contents .title img {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */